@import 'reset';
 * {
  box-sizing: border-box;
 }

textarea:focus,
input:focus,
select:focus,
button:focus,
option:focus {
  outline:none;
}

input[type=text],input[type=submit],input[type=email],
input[type=tel],input[type=url],input[type=search],
textarea,
select,
option {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-radius:0;-
  moz-border-radius:0;
  -webkit-border-radius:0;
}


body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
}



.container {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: 0;
}

::placeholder {
  color: #7f3235;
  opacity: 1;
}

.input-test {
  width: 98%;
  height: 50px;
  margin-left: 10px;
  border: 3px solid #300305;
  border-radius: 5px;
  padding: 5px;
  font-size: 4em;
  color: grey;
}

.login-page {
  height: 100%;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url(../assets/img/main-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-field {
  padding: 20px;
  font-family: Raleway, sans-serif;
}

.login-field img {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
  margin-top: 30px;
}

.naam-form {
  max-width: 360px;
  width: 100%;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  font-weight: 700;

}

.login-field input[type='text'],
.login-field input[type='number'] {
  width: 100%;
  max-width: 460px;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: none;
  text-align: left;
  padding-left: 0;
  text-transform: capitalize;
  border-bottom: 2px solid #7f3235;
}

.login-field button {
  position: absolute;
  left: 50%;
  font-family: Raleway, sans-serif;
  font-size: 1.9em;
  padding: 15px 40px;
  bottom: 30px;
  color: white;
  cursor: pointer;
  transition: all .3s;
  background-color: transparent;
  border: 2px solid white;
    -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.login-field button[type='submit']:hover {
  background-color: white;
  color: #2980b9;
}

.enter-to-enter {
  position: absolute;
  bottom: 10px;
  font-size: 1.2em;
  color: #7f3235;
  left: 50%;
   -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.error {
  color: #e74c3c;
  font-size: .6em;
  padding-top: 10px;
}

.input-error {
  border-bottom: 2px solid #e74c3c;
}

.naamlabel {
  font-size: 4.3em;
  color: #3498db;
}

.game-page {
  background-image: url(../assets/img/main-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.dashboard {
  background-image: url(../assets/img/main-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px;
  height: 100%;
  font-family: Raleway, sans-serif;
  overflow: hidden;
}

.dashboard>h1 {
  color: white;
  font-size: 7em;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.logoMain {
  width: 500px;
  margin-top: -150px;
}

.users {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-item {
  border-left: 1px solid white;
  height: 100%;
  padding: 10px 10px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.dashboard-item:first-of-type {
  border-left: 0 !important;
}

.dashboard-item h1 {
  font-size: 5em;
  padding-top: 30px;
  color: white;
  font-family: 'Nova Flat', cursive;
}

.dashboard-item h2 {
  font-size: 6em;
  margin-top: 40px;
  border-radius: 100px;
  width: 150px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  background-image: url(../assets/img/secondsbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'Nova Flat', cursive;
}

.console {
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.fake-screen {
  width: 100%;
  height: 100%;
}

.fake-screen h1 {
  position: absolute;
  left: 50%;
  top: 150px;
  padding-top: 150px;
  padding-left: 15px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Nova Flat', cursive;
    font-size: 8em;
    width: 100%;
    text-align: center;
    background-image: url(../assets/img/timer-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.actions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.actions div {
  width: 70px;
  height: 70px;
  margin: 10px;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: '', sans-serif;
  z-index: 100;
}

.actions div:hover {
  opacity: .8;
  transition: all .3s;
}

.plus {
  background-image: url(../assets/img/plustimer-button-bg.png);
}

.minus {
  background-image: url(../assets/img/minustimer-button-bg.png);
}

.start {
  background-image: url(../assets/img/starttimer-button-bg.png);
}

.test {
  width: 100px;
  height: 100px;
  background-color: red;
}

.admin {
  display: none;
}

.back {
  width: 100%;
  position: relative;
  z-index: 111;
  height: 70px;
}

.back img {
  float: left;
  width: 30px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 5px;
}

.back p {
  float: left;
  font-size: 1.3em;
  padding-top: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  height: 500px;
}

.roundBtn button{
  border: none;
  background-color: #6f1d21;
  border-radius: 100px;
  color: gray;
  cursor: pointer;
}

.round1 {
  display: flex;
  justify-content: space-between;
}

.round1 li {
  font-size: 45px;
  border-radius: 100px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.round1 li:nth-of-type(3n) {
  transform: translateY(-30px);
}

.round1 .active {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/img/round1.png);
}

.controlController {
  display: none !important;
}

.control-panel {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #500408;
}

.control-panel h1 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
}

.panelController {
  display: block !important;
}

.rounder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rounder li {
  width: 33.33%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 3em;
  font-family: Raleway, sans-serif;
}

.rounder li:focus, .rounder li:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 1280px) {
  .console, .back {
    display: none;
  }
}

@media screen and (max-width: 1280px) {

  .dashboard {
    display: none;
  }
}

@media screen and (max-width: 700px) {

.login-field {
  width: 100%;
}

}

@media screen and (max-width: 500px) {
.naam-form {
  font-size: 20px;
}

.console {
  width: 100%;
}

.login-field input[type='text'],
.login-field input[type='number'] {
  font-size: 25px;
  border-radius: 0;
  padding-left: 0;
}

}



@media screen and (max-height: 400px) {
  .fake-screen h1 {
    top: 50px;
  }
}
